html {
    height: 100%;
    margin: 0px;
    background: url("../images/myBG.jpg");
    background-size: cover;
    background-attachment: fixed;
}
body{
    height: 100%;
    margin-left: 3em;
    margin-right: 2em;
    background: url("../images/myBG.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.icon-user {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.normalPadding {
    padding: 10px;
}

.heading {
    color: #4662dd;
    text-underline-position: auto;
}

.paddingLeft {
    padding-left: 5em;
}

.paddingLeftFromTitle {
    padding-left: 2em;
}

.paddingTop {
    padding-top: 20px;
}

.iconPaddingLeft {
    padding-left: 16px;
}

.designation {
    font-size: x-large;
    font-weight: bold;
}

.success {
    color: forestgreen;
}
